<%= form_for [@conversation,@message]  ,:remote => true do |f| %>

<div class="chat-footer d-flex flex-row">
	<div class="form-cont ">
		<div class="form-group col-11">
		    <%= f.text_area :body, class: "form-control user-txt-area", placeholder: "Write your text here"%>
		</div>
	</div>
	<div class="send-cont row col-3">
		<!-- <%= f.submit 'Send', class: "btn-send" %> -->
		<%= f.button :submit , class: "btn-send" do %>
			<i class="material-icons send" style="font-size: 20px;">send</i>
		<% end %>
	</div>
</div
<% end %>