<%= form_for [@conversation,@message]  ,:remote => true,:authenticity_token => true do |f| %>

<div class="chat-footer">
	<div class="form-cont">
		<div class="form-group">
			<!-- <%= f.label "Chat:" %> -->
		    <%= f.text_area :body, class: "form-control", placeholder: "Write your text here"%>
		</div>
	</div>
	<div class="send-cont">
			<%= f.submit 'Send', class: "btn-send" %>
	</div>
</div>
<% end %>

<script >
	$('#message_body').keypress(function (e) {
  if (e.which == 13) {
  	e.preventDefault()
    $(".btn-send").click()
  }
});
</script>
