  <ul class="collapsible">    
    <li>
      <div class="collapsible-header"><i class="material-icons">attach_file</i>Uploads</div>
      <div class="collapsible-body">
        <table>
          <thead>
            <th>Name </th>
            <th>Size</th>
            <th>Link</th>
          </thead>

          <tbody id="upload-container">            
            <% _invoice.uploads.each do |upload|%>
              <tr>
                <td> <%=upload.filename%></td>
                <td> <%=upload.blob.byte_size%></td>
                <td><%= link_to upload do  %>
                  <i class="material-icons">file_download</i>
                  <%end%>
                </td>
              </tr>
            <% end%> 
          </tbody>
        </table>   
      </div>
    </li>
  </ul>
</li>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });        
</script>