<div class="chat-title">
	<p class="description-chat "> Conversation with: <span class="orange-text-2"><%=@conversation.name %></span></p>
</div>
<div class="chat-user-cont">
		<ul id= '<%= "#{@conversation.id}"%>' class="chat-link">
		
		</ul>
</div>


	<%= render partial: "messages/form_messages",layout:false%>
	<script>
		plantApp()
	</script>