<h4>Conversation's show: <%=@conversation.name %></h4>
<ul id= '<%= "#{@conversation.id}"%>'>
	<% if @messages%>
		<%@messages.each do |message|%>			
			<%= render partial: "/messages/message",locals:{message: message}%>
		<%end%>
	<%end%>

</ul>
<%= render partial: "messages/form_messages",layout:false%>
<script>
	plantApp()
</script>