<div>
	<ul>
		<% @conversations.each do |conversation| %>
			
			<li> <p onclick="getConversation(<%=conversation.id%>)"><%= conversation.id%>-<%= conversation.name%></p></li>
		<% end%>
	</ul>
<div>

<div id="conversation">
	
</div>
<script>
	getConversation = function(id){
		$.get("/conversations/"+id,function(data, g){
			$("#conversation").html(data)
		})
	}	
</script>