<div class="container-fluid chat-cont d-flex flex-row">
	<div class="row" style="width:100% !important">


		<div class=" col-md-6 col-sm-12 col-xs-12 chat section" >

			<p class="title-2 ">Client Chat </p>
			<p class="description-chat">Select one user from the list for see the chat </p>
			<div id="conversation">

			</div>
		</div>

		<div class=" col-md-6  col-sm-12 col-xs-12  flex-column align-items-center justify-content-start clients-section">
			<ul id="cart-container">
				<% @conversations.each do |conversation| %>

					<%= render partial:"conversations/client_cart", layout: false , locals: {conversation: conversation} %>
				<% end%>
			</ul>
		</div>
	</div>

</div>
<script>
	$("#cart-container").on("click","li",function(e){ $(this).find( "a" )[0].click();})
</script>
