<div>
	<ul>
		<% @conversations.each do |conversation| %>
			<li> <%=link_to "#{conversation.id}-#{conversation.name}",conversation , remote: true%></li>
		<% end%>
	</ul>
<div>

<div id="conversation">
	
</div>
