<div class="container chat-cont"> 
	<div class="row">
		<div class="col-sm">
			1
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm">
			2
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			3
		</div>
	</div>
	<ul
		<% @conversations.each do |conversation| %>
			
			<li> <p onclick="getConversation(<%=conversation.id%>)"><%= conversation.id%>-<%= conversation.name%></p></li>
		<% end%>
	</ul>
<div>

<div id="conversation">
	
</div>


<script>
	getConversation = function(id){
		$.get("/conversations/"+id,function(data, g){
			$("#conversation").html(data)
		})
	}	
</script>