<div class="container chat-cont"> 
	<div class="row">
		<div class="col-sm">
			1
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			2
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			3
		</div>
	</div>
	<ul
		<% @conversations.each do |conversation| %>
			<li> <%=link_to "#{conversation.id}-#{conversation.name}",conversation , remote: true%></li>
		<% end%>
	</ul>
<div>

<div id="conversation">

</div>
