<h1>Welcome to Drayage Florida, <%= "#{@quotation.first_name} #{@quotation.last_name}" %></h1>
<p>
  Thank you for submitting your free quotation with Drayage Florida! You can see your Quote at any time by
   clicking <%= link_to("here", "#{ENV['SITE_NAME']}/quotations/#{@quotation.id}") %>. If you have any additional
   questions please don't hesitate to contact us. 
</p>
<p>
  Best,
  Drayage Florida Sales Team
</p>
<%=image_tag("logo.svg", class: 'logo-svg-small')%>