<h1>Welcome to Florida-drayage.com, <%= "#{@quotation.first_name} #{@quotation.last_name}" %></h1>
<p>
  You have successfully created a Quote  to Florida-drayage.com
</p>
Yua can see the Quote <%= link_to "here", quotation_url(@quotation)%>