<div class="container-fluid chat-cont d-flex flex-row">
	<div class="row" style="width:100% !important">

		<div class=" col-md-8 col-sm-7 col-xs-12" id="quotation-container" >
			<p class="title-2">Quotations</p>
			<p class="description-chat">Select one user from the list for see the quotations</p>
		</div>

		<div class=" col-md-4  col-sm-5 col-xs-12  flex-column align-items-center justify-content-start clients-section">
			<ul class="collection" id = "quotation-list-container">
				<% @quotations.each do |quotation|%>
					<li class="quotation-item"> <%= link_to   quotation , remote: true do %> 
							<span><%="#{quotation.id} - "%></span><%= "#{quotation.email}"%>
						<%end%>	
					</li>
				<% end %>
			</ul>
		</div>

	</div>
</div>

<script>
	$("#quotation-list-container").on("click","li",function(e){ $(this).find( "a" )[0].click();})
</script>