	<div id="live-chat">

		<header class="clearfix header-chat">		

			<h4><%= @conversation.name || "Chat with us"%></h4>

			<%= image_tag('close.svg', class: 'close-logo', onclick:"showButtonChat()")%>

		</header>

		<div class="chat" id="conversation">

		<% if @conversation.id%>
			<%= render partial:"/conversations/show", layout: false %>
			<script >
				plantApp()
			</script>
		<%else %>
			<%= render partial:"/conversations/form_conversation", layout: false %>
		<%end %>

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->






<!-- chat box -->

