	<div id="live-chat">

		<header class="clearfix">		

			<h4><%= @conversation.name || "Chat with us"%></h4>

			<!-- <span class="chat-message-counter">3</span> -->

		</header>

		<div class="chat" id="conversation">

		<% if @conversation.id%>
			<%= render partial:"/conversations/show", layout: false %>
			<script >
				plantApp()
			</script>
		<%else %>
			<%= render partial:"/conversations/form_conversation", layout: false %>
		<%end %>

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->






<!-- chat box -->

<script type="text/javascript">
$('#live-chat header').on('click', function() {

  $('.chat').slideToggle(300, 'swing');
  $('.chat-message-counter').fadeToggle(300, 'swing');

});

$('.chat-close').on('click', function(e) {

  e.preventDefault();
  $('#live-chat').fadeOut(300);

});

</script>