	<div id="live-chat">

		<header class="clearfix">

			<a href="#" class="chat-close">x</a>

			<h4>John Doe</h4>

			<!-- <span class="chat-message-counter">3</span> -->

		</header>

		<div class="chat" id="conversation">

			<div class="chat-history">

				<div class="chat-message clearfix">



					<div class="chat-message-content clearfix">

						<span class="chat-time">13:35</span>

						<h5>John Doe</h5>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>

					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->

				<hr>			

			</div> <!-- end chat-history -->

			<p class="chat-feedback">Your partner is typing…</p>

			<form action="#" method="post">

				<fieldset>

					<input type="text" placeholder="Type your message…" autofocus>
					<input type="hidden">

				</fieldset>

			</form>

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->






<!-- chat box -->

<script type="text/javascript">
$('#live-chat header').on('click', function() {

  $('.chat').slideToggle(300, 'swing');
  $('.chat-message-counter').fadeToggle(300, 'swing');

});

$('.chat-close').on('click', function(e) {

  e.preventDefault();
  $('#live-chat').fadeOut(300);

});
</script>