<h2>Hi</h2>
<p>New conversation was created, please check the panel user</p>
<%= link_to "Conversations Panel", conversations_url%>
<p>Select the conversation <%= "#{@conversation.id}-#{@conversation.name}"%> and attend the client, the client email is: <%= @conversation.mail%> </p>