// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.suggested-title {
    padding-left: 20px; 
}
.label-title {
    padding-left: 20px; 
}
.invoice-price-input {
    width: 70% !important;
}

.create-invoice-btn {
    background: #ffd200;
    color: white;
    border: none;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    margin-left: 20px;
}


@media only screen and (max-width: 1160px){
    .invoice-price-input {
        width: 35% !important;
    }

}

