// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.send-cont{
  text-align: center;
}

.btn-send{
  background:#eb6422;
  border: none;
  color: white;
  height: 40px;
  widows: 40%;
  margin: 0 auto;
}
.form-control:focus {
  border-color: #eb6422 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(235, 100, 34, 0.6) !important;
}
