nav{
    background: white !important;
    position: fixed;
    z-index: 10;
    a, a:hover,a:visited {
      color: rgb(49, 46, 43) !important;
      ul{
        li{
              margin-left: 5px
        }
      }
    }



   .brand-logo{
   	top: 0;
   }
}
.nav-link{
  display:block;
  padding: 0.0rem 1rem;
}

.brand-logo {
  margin-left: 20px;
}
 
.sidenav {
  background: #212121 !important;
  color: #ffd200 !important;
}

.sidenav a {
 color: #ffd200 !important;
}

.navbar-toggler, .navbar-toggler:active{
	background-color: #607D8B !important
}

body{
  position:relative
}

.overlay,.sideMenu{
  position:fixed;bottom:0 
}

.overlay{
  top:0;
  left:-100%;
  right:100%;
  margin:auto;
  background-color:rgba(0,0,0,.8);
  z-index:998;
  transition:all ease 0.2s;

  

}
.overlay.open{
  left:0;
  right:0
}

.sidebarNavigation{
  margin-bottom:0;
  z-index:999;
  justify-content:flex-start
}
.sidebarNavigation .leftNavbarToggler{
  margin-right:10px;
  order:-1
}
.sideMenu{
  left:-100%;
  top:52px;
  transition:all ease 0.5s;
  overflow:hidden;
  width:100%;
  z-index:999;
  max-width:80%;
  margin-bottom:0;
  padding:1rem;

}
.sideMenu.open{
  left:0;
  display:block;
  overflow-y:auto
}
.sideMenu ul{
  margin:0;
  padding:0 15px
}

