<footer id="contact"> 
    <div class="footer-container">
        <div class="footer-row">
            <div>
                <span class="contact-text" style="display:flex;"><i class="material-icons c-icon">email</i>sales@drayage-fla.com</span>
            </div>
        </div>
    </div> 
    <div class="footer-container">
        <div>
            <span class="text-rights">©2019 DRAYAGE FLORIDA. ALL RIGHTS RESERVED.</span>
        </div>
    </div>
</footer>