<footer id="contact"> 
    <div class="footer-container">
        <div class="footer-row">
            <div>
                <span class="contact-text"><i class="material-icons c-icon">email</i>sales@drayage-fla.com</span>
            </div>
            <div>  
                <span class="contact-text"><i class="material-icons c-icon">place</i>1900 NW 129TH AVE Suite 115 Miami, FL 33182</span>      
            </div>
        </div>
        <div class="footer-row">
            <div >            
                <span class="contact-text"><i class="material-icons c-icon">phone</i>866-341-3384</span>
            </div>
            <div >              
                <span class="contact-text"><i class="material-icons c-icon">phone</i>1-786-347-6290</span>
            </div>
        </div> 
    </div> 
    <div class="footer-container">
        <div>
            <span class="text-rights">©2019 DRAYAGE FLORIDA. ALL RIGHTS RESERVED.</span>
        </div>
    </div>
</footer>