  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="">Payment</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Services</a></li>
        <li><a href="mobile.html">Contact</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Payment</a></li>
    <li><a href="badges.html">About us</a></li>
    <li><a href="collapsible.html">Services</a></li>
    <li><a href="mobile.html">Contact</a></li>
  </ul>
